@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  background-color: black;
  font-family: "Roboto", "Roboto Slab", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #354358;
}

.light ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #65654b, #5f5f44);
}
.dark ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #243836, #0d1418);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@media (min-width: 1144px) {
  html {
    min-height: 100%;
  }
}
