@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  user-select: none;
}

body {
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #354358;
}

.light ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #894e30, #bf9774);
}
.dark ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #243836, #0d1418);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
@media (min-width: 1024px) {
  @media (min-height: 825px) {
    html {
      height: 100%;
    }
  }
}
